CHAOS-MRT2/

CHAOS-MRT2-NORMALIZED/

Essais unet simple/

Essais unet aug/

EssaisClassiqueV2/

Models unet simple/

modelClassiqueSaves/

EssaisClassique2D/

EssaisAugmented2D/

CHAOS-MRT2-2D-NORMALIZED/

*.nii.gz

*.pth

*.pt
CHAOS-MRT2-2D-NORMALIZED.rar
