CHAOS-MRT2/

CHAOS-MRT2-NORMALIZED/

predicted_mask_train0test.nii.gz

predicted_mask_train0test0.0.nii.gz

predicted_mask_train0test1.0.nii.gz

predicted_mask_train0test2.0.nii.gz

predicted_mask_train0test3.0.nii.gz

predicted_mask_train0test4.0.nii.gz

predicted_mask_train0test5.0.nii.gz

predicted_mask_train0test6.0.nii.gz

predicted_mask_train0test7.0.nii.gz

predicted_mask_train0test8.0.nii.gz

predicted_mask_train0test9.0.nii.gz

predicted_mask_train0test10.0.nii.gz

predicted_mask_train0test11.0.nii.gz

predicted_mask_train0test12.0.nii.gz

predicted_mask_train0test13.0.nii.gz

predicted_mask_train0test14.0.nii.gz

predicted_mask_train0test15.0.nii.gz

predicted_mask_train0test16.0.nii.gz

predicted_mask_train0test17.0.nii.gz

predicted_mask_train0test18.0.nii.gz

predicted_mask_train0test19.0.nii.gz